@model WebAnalyzer.Models.PageStatsModel

@{
    ViewData["Title"] = "Analysis";
}

<h2>Analyze any site</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UriAddress">Enter an https:// URL:</label>
                <input asp-for="UriAddress" type="url" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-brand btn-brand-big">
                    GET STATISTICS
                </button>
            </div>
        </form>
    </div>
</div>

@if (Model.Performed == true)
{
    @if (Model.KeyOccurrences != null)
    {
        <div>
            <p>Occurrences of keywords from metadata:</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Keyword</th>
                        <th scope="col">Number of occurrences</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.KeyOccurrences)
                    {
                        <tr>
                            <td>@item.Key</td>
                            <td>@item.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else {
        <div>
            <p>There was a problem with loading site or site does not contain any keywords in metadata.</p>
            <p>No ideas for site? Try that address: "https://xlinux.nist.gov/dads/", it works!</p>
        </div>
    }

}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
